
@{
    ViewBag.Title = "D3";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D3 Graphic</title>
</head>
<body>
    <div class="container">
        <h2>D3 Graphic</h2>
        <section id="chart"></section>
    </div>
</body>
</html>

